# Node dependencies
node_modules/

# Environment files
.env
.env.* 

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/
out/

# OS-specific
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Misc
*.sqlite
*.sqlite3
*.db
*.bak
