<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <!-- For HTML responses only -->
        <rule name="NoCacheHTML" preCondition="IsHtml">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="no-store, no-cache, must-revalidate" />
        </rule>
        <rule name="NoCacheHTML_Pragma" preCondition="IsHtml">
          <match serverVariable="RESPONSE_Pragma" pattern=".*" />
          <action type="Rewrite" value="no-cache" />
        </rule>
        <rule name="NoCacheHTML_Expires" preCondition="IsHtml">
          <match serverVariable="RESPONSE_Expires" pattern=".*" />
          <action type="Rewrite" value="0" />
        </rule>
      </outboundRules>
      <preConditions>
        <preCondition name="IsHtml">
          <add input="{RESPONSE_Content-Type}" pattern="^text/html" />
        </preCondition>
      </preConditions>
    </rewrite>
  </system.webServer>
</configuration>
